.contact-button {
    a {
        color: var(--color1);
        border: 3px solid var(--color1);
        padding: 8px 20px;
        text-decoration: none;
        background-color: #00000040;
        display: inline-block;
        margin-top: 18px;
        font-size: 14px;
        transition: all .2s ease-in-out;

        &:hover {
            color: white;
            border: 3px solid white;
        }
    }
}