.portfolio {
    header {
        height: 90px;
        background: url(/MAT06mat/images/cover.jpg) no-repeat center/cover;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 1em 2em 1em 1em;

        .bar {
            border-left: 4px solid var(--color1);
            padding: 8px 16px;
            color: white;
            font-size: 24px;
            font-weight: 600;
        }

        .contact-button {
            margin-top: 0;
        }
    }

    h1 {
        font-size: 46px;
        color: black;
        line-height: 1;
        padding-top: 10px;
    }

    h2 {
        color: #656565;
        font-size: 26px;
        font-weight: normal;
        padding-bottom: 0;
    }

    a.back {
        font-size: 1.4em;
        color: var(--color1);
    }

    div.center {
        text-align: center;
    }

    img {
        width: 100%;
    }
}


@media only screen and (max-width: 767px) {
    .portfolio {
        header {
            height: 70px;
            padding: 1em;

            .bar {
                font-size: 18px;
            }
        }

        h1 {
            font-size: 30px;
        }

        h2 {
            color: #656565;
            font-size: 20px;
        }

        .container:has(a.back) {
            padding-bottom: 0;
        }

        a.back {
            font-size: 1em;
            color: var(--color1);
        }
    }
}