section {
    &.gray {
        background-color: var(--color2);
    }
}

div.end,
div.start {
    background-color: var(--color2);
    height: min-content;

    img {
        width: 100%;
        display: block;
    }
}