section {
    &.gray {
        background-color: var(--color2);
    }

    .container {
        padding: 1em;
        margin: 0 auto;
        max-width: 1000px;
    }
}

div.end,
div.start {
    background-color: var(--color2);
    height: min-content;

    img {
        width: 100%;
        display: block;
    }
}