* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color1: #D89584;
  --color2: #F4F4F4;
}

body {
  margin: 0;
  font-family: Arial;
  line-height: 1.5;

  a {
    color: var(--color1)
  }
}

header {
  background: url(/MAT06mat/images/cover_overlay.png) no-repeat center/100% 100%, url(/MAT06mat/images/cover.jpg) no-repeat center/cover;
  height: 360px;
  padding: 1em;

  .flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  img.profil {
    height: 100px;
  }

  p {
    color: lightgray;
    text-align: center;
    margin-top: 8px;
    font-size: 14px;
  }

  .contact-button {
    margin-top: 1em;
  }

  .bar {
    border-left: 4px solid var(--color1);
    padding: 8px 16px;

    &>* {
      text-align: left;
      color: white;
      font-size: 14px;
    }
  }
}

h1 {
  color: white;
  text-align: center;
  font-size: 42px;
  margin-top: 10px;
  margin-bottom: 0px;
}

h2 {
  text-align: center;
  font-size: 34px;
  margin-top: 0px;
}

img {
  object-fit: contain;
}

.cols {
  display: flex;
  gap: 1em;

  &>* {
    width: 50%;
  }
}

.separator {
  background-color: #979797;
  height: 1px;
  width: 150px;
  margin: 1em auto 1em auto;
}

p.gray {
  font-size: 22px;
  color: #656565;
  text-align: center;
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
}

div.line {
  padding-left: 1em;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    display: block;
    left: 0;
    width: 4px;
    height: 50px;
    background-color: var(--color1);
  }

  p {
    margin-top: 0;
  }
}

/* RESPONSIVE DESIGN : PARTIE MOBILE */

@media only screen and (max-width: 767px) {

  img.cover-profil {
    height: 90px;
    margin-left: -50px;
    margin-top: 75px;
  }

  .cols {
    flex-direction: column;

    &>* {
      width: 100%;
    }
  }

  h1 {
    font-size: 35px;
    margin-top: 6px;
  }

  div.cover p {
    margin-top: 2px;
    font-size: 13px;
  }

  .section {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  div.section-grise1 {
    padding-bottom: 40px;
  }

  div.section-grise2 {
    padding-top: 40px;
  }

  h2 {
    font-size: 25px;
  }

  div.frame {
    margin: 0px;
    padding: 0px;
    padding-bottom: 20px;
    box-shadow: none;
  }

  div.frame img {
    width: 70px;
  }

  /* PORTFOLIO MOBILE */

  div.cover-bar h1 {
    font-size: 20px;
  }

  div.cover-bar {
    display: none;
  }

  div.portfolio-header a.contact-button {
    font-size: 12px;
    padding: 7px 15px;
    margin-top: 28px;
    margin-right: 16px;
  }

  h1.portfolio {
    font-size: 35px;
  }

  h2.portfolio {
    font-size: 20px;
  }

  img.portfolio {
    margin-top: 20px;
    width: 100%;
  }

  .display-mobile {
    display: block;
  }
}


/* RESPONSIVE DESIGN : PARTIE LARGE */

@media only screen and (min-width: 1200px) {

  div.section-grise1 {
    background: url(/MAT06mat/images/triangle2white.svg) no-repeat center bottom -1px/100%;
    background-size: cover;
    height: 310px;
    background-color: var(--color2);
    padding-bottom: 70px;

  }

  div.section-grise2 {
    background: url(/MAT06mat/images/triangle1white.svg) no-repeat center top -220px/100%;
    background-color: var(--color2);
    padding-top: 200px;
    background-size: cover;
    height: 770px;
  }

  div.tableau-portfolio {
    max-width: 620px;
    margin-left: auto;
    margin-right: auto;
  }

  div.frame {
    max-width: 1019px;
    margin-left: auto;
    margin-right: auto;
  }

  div.en-savoir-plus {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}