* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color1: #D89584;
  --color2: #F4F4F4;
}

body {
  font-family: Arial;
  line-height: 1.5;

  a {
    color: var(--color1)
  }
}

header {
  background: url(/MAT06mat/images/cover_overlay.png) no-repeat center/100% 100%, url(/MAT06mat/images/cover.jpg) no-repeat center/cover;
  height: 24em;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  p {
    color: lightgray;
    text-align: center;
    margin-top: 8px;
    font-size: 14px;
  }

  .contact-button {
    margin-top: 1em;
  }
}

.container {
  padding: 1.5em;
  margin: 0 auto;
  max-width: 80em;
}

h1 {
  color: white;
  text-align: center;
  font-size: 42px;
  margin-top: 10px;
}

h2 {
  text-align: center;
  font-size: 34px;
  padding-bottom: 1em;
}

img {
  object-fit: contain;

  &.profil {
    height: 7em;
  }
}

.cols {
  display: flex;
  gap: 1em;

  &>* {
    width: 50%;
  }
}

.gap {
  height: 1em;
}

.separator {
  background-color: #979797;
  height: 1px;
  width: 150px;
  margin: 0.5em auto 1em auto;
}

p.gray {
  font-size: 22px;
  color: #656565;
  text-align: center;
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
}

div.line {
  padding-left: 1em;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    display: block;
    left: 0;
    width: 4px;
    height: 50px;
    background-color: var(--color1);
  }

  p {
    margin-top: 0;
  }
}

.padding {
  padding-bottom: 2em;
}


@media only screen and (max-width: 768px) {
  header {
    img.profil {
      margin-top: 2em;
    }
  }

  .cols {
    flex-direction: column;

    &>* {
      width: 100%;
    }
  }

  h1 {
    font-size: 35px;
    margin-top: 6px;
  }

  h2 {
    font-size: 25px;
  }

  .container {
    padding: 1.5em 1em;
  }
}