* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color1: #D89584;
  --color2: #F4F4F4;
}

body {
  font-family: Arial;
  line-height: 1.5;

  a {
    color: var(--color1)
  }
}

header {
  background: url(/MAT06mat/images/cover_overlay.png) no-repeat center/100% 100%, url(/MAT06mat/images/cover.jpg) no-repeat center/cover;
  height: 24em;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  p {
    color: lightgray;
    text-align: center;
    margin-top: .5em;
  }

  .contact-button {
    margin-top: 1em;
  }
}

.container {
  padding: 1.5em;
  margin: 0 auto;
  max-width: 80em;
}

h1 {
  color: white;
  text-align: center;
  font-size: 2.5em;
  margin-top: .5em;
}

h2 {
  text-align: center;
  font-size: 2.2em;
  padding-bottom: 1em;
}

img {
  object-fit: contain;
  border-radius: .3em;

  &.profil {
    height: 7em;
  }
}

.cols {
  display: flex;
  align-items: center;
  gap: 1em;

  &.reverse {
    flex-direction: row-reverse;
  }

  &>* {
    width: calc(50% - 0.5em);
  }
}

.gap {
  height: 1em;
}

.separator {
  background-color: #979797;
  height: 1px;
  width: 10em;
  margin: 0.5em auto 1em auto;
}

p.gray {
  font-size: 1.4em;
  color: #656565;
  text-align: center;
  max-width: 20em;
  margin-left: auto;
  margin-right: auto;
}

div.line {
  padding-left: 1em;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    display: block;
    left: 0;
    width: .25em;
    height: 3em;
    background-color: var(--color1);
  }

  p {
    margin-top: 0;
  }
}

.padding {
  padding-bottom: 2em;
}


@media only screen and (max-width: 768px) {
  header {
    img.profil {
      margin-top: 2em;
    }
  }

  .cols,
  .cols.reverse {
    flex-direction: column;

    &>* {
      width: 100%;
    }
  }

  h1 {
    font-size: 2.2em;
    margin-top: .4em;
  }

  h2 {
    font-size: 1.6em;
  }

  .container {
    padding: 1.5em 1em;
  }
}